* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  height:auto;

}

#records{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.product-item{
  margin: 1%;
}
/* Center website */


/* Add padding BETWEEN each column */

/* Create three equal columns */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

.filters {
  background-color:
 /* margin: 0;
 padding: 0;
 width: 200px;
 position: fixed;
 height: 100%;
 overflow: auto; */
 margin: 0% 5%;
 float: left;
 width: 20%;
 overflow: hidden; /* Hide scrollbars */
}
<<<<<<< HEAD

=======
>>>>>>> master
.filters::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.filters {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
<<<<<<< HEAD
}
=======
}
>>>>>>> master
