* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

.filters {
 /* margin: 0;
 padding: 0;
 width: 200px;
 position: fixed;
 height: 100%;
 overflow: auto; */
 float: left;
 overflow: hidden; /* Hide scrollbars */
}
